---
import { SignIn } from 'auth-astro/components';

import Layout from '../layouts/Layout.astro'
---

<Layout title="Table Session">
	<div class="grid place-items-center h-screen max-w-screen-xl mx-auto">
        <SignIn provider="github">Log In</SignIn>
	</div>
</Layout>
